/* color codes */
:root{
  --lighterGreen: #fafdfa;
  --deepGreen: #60d66a;
  --ash:#707070;
  --white: #fff;
}

body{
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: Proxima Nova Condensed, System-ui, San-serif;
}

.small-header{
  margin: 0;
  width: 100%;
  height: 70px;
}

#header-span{
  float: right;
  margin-right: 150px;
}

#header-span li{
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  margin-right: 10px;
  margin-top: 15px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
}

#header-span li a{
  color: var(--deepGreen);
  text-decoration: none;
}

#header-span li a:hover{
  color:var(--white);
}

#header-span li:hover{
  background: var(--deepGreen);
  color: var(--lighterGreen);
  border-radius: 10px;
  padding-right: 20px;
}

/* hambuger start */

#burger{
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  #burger{
    display: block;
  }
}
/* hamburger end */

/* logo header satrt */

.logo{
  position: absolute;
  padding: 5px;
  margin-left: 10px;
  /* color: #399b52; */
  margin-top: 15px;
  font-weight: 600;
}

.logo img{
  width: 50%;
  height: 30px;
}

/* logo header ends */

.main-navbar{
  background: url("../img/support.jpg") no-repeat;
  background-size: cover;
  min-height: 85vh;
}

.navbar{
  background:  #399b52;
}

.menu-header{
  background: url("../img/support.jpg") no-repeat;
  /* background-position: center; */
  background-size: cover;
  /* background-color: gray; */
  height: 80vh;
  /* opacity: 1.5; */
}

.menu-header h3, p{
  color: var(--white);
  font-family: monospace;
}

.menu-header-div{
  background: gray;
  margin-bottom: 20px;
}

.menu-header h3{
  font-size: 42px;
  font-weight: 800;
  /* margin-top: 100px; */
}

.form-wrapper{
  background: var(--white);
  border-radius: 10px;
  width: 100%;
  height: 52vh;
  animation: moveInLeft 1s ease-out;
}

.form-h4{
  padding-top: 20px;
  color: black;
  font-weight: bold;
}

.form-wrapper div{
  width: 100%;
}

.form-wrapper input, button{
  width: 70%;
  border-radius: 10px;
  height: 40px;
}

.form-wrapper input{
  background: transparent;
  border: 1px solid gray;
  padding: 5px 5px 5px 20px;
}

.form-wrapper button{
  border: none;
  background: var(--deepGreen);
  padding: 10px;
  color: var(--white);
}

.form-wrapper button:hover{
  background: rgb(83, 236, 83);
  padding: 12px;
}

.div-slide-two{
  margin-top: 100px;
  animation: moveInRight 1s ease-in;
}
.div-slide-two > p{
  font-family: Arial, Helvetica, sans-serif;
}

h6{
  border-radius: 10px;
  padding: 10px;
  text-transform: uppercase;
  background: var(--deepGreen);
  color: var(--white);
  width: 20%;
  /* text-align: center; */
  margin-left: 40%;
  margin-top: 40px;
  cursor: pointer;
}

h6 > a{
  text-decoration: none;
  color: var(--white);
}

h6 > a:hover{
  text-decoration: none;
  color: var(--white);
  padding: 15p;
}

#hide-row{
  display: none;
}

/* about section */
.about-div-one p, .about-div-two p{
  font-family: Proxima Nova Condensed, System-ui, San-serif;
  color: black;
  font-size: 20px;
  /* text-align: center; */
  font-weight: 400;
}

.about-div-one{
  animation: aboutLeft 1s ease-out;
}

.about-div-two{
  animation: aboutRight 1s ease-out;
}

.about-wrapper h3{
  font-size: 32px;
  font-weight: bold;
  text-transform: capitalize;
}

.about-wrapper h4{
  font-size: 26px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 5px;
}

.about-wrapper span{
  color: var(--deepGreen);
}

.about-div-two i{
  color: var(--deepGreen);
}

/* service section */

#medical h3{
  font-size: 32px;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--deepGreen);
}

#medical h4{
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 5px;
}

.pod-img{
  width: 21rem;
  height: 40%;
  margin-left: -20px;
  margin-bottom: 10px;
  margin-top: 5px;
}

#pod-img{
  width: 21rem;
  height: 40%;
  margin-left: -20px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.main-service-div p, .main-service-div-two p{
  font-family: Proxima Nova Condensed, System-ui, San-serif;
  /* color: black; */
  font-size: 17px;
  /* text-align: center; */
  font-weight: 400;
}

.main-service-div-two p{
  color: black;
}
.main-service-div-two{
  background: var(--white);
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px 4px rgb(233, 230, 230);
  height: 70vh;
}

#main-service-div-sample{
  height: 40vh;
}

#main-service-div-sample-two{
  height: 52vh;
}

#pod-img-two{
  height: 25vh;
}

.service-row{
  display: flex;
  flex-wrap: wrap;
  /* margin-left: 5px;
  margin-right: 5px; */
  /* background: rgb(236, 224, 224); */
}

.service-row > div{
  margin: 50px;
  text-align: center;
  padding: 20px;
  /* width: 10px; */
}
.main-service-div{
  border-radius: 10px;
  background: var(--deepGreen);
  color: var(--white);
  opacity: 0.6;
  /* margin-right: 2px; */
}

/* footer */

.footer-div .main-footer-ul li{
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  list-style: none;
}

.footer-div .main-footer-ul li a{
  text-decoration: none;
  color: grey;
}

.media-footer-ul li{
  display: inline-block;
  padding: 5px;
  margin: 5px;
  font-size: 24px;
  font-weight: bold;
  list-style: none;
  /* background: var(--white); */
  border-radius: 50%;
  box-shadow: 2px 2px 2px 3px rgb(207, 202, 202);
}

.media-footer-ul li a{
  text-decoration: none;
  color: var(--deepGreen);
}

.instagram:hover{
  color: rgb(204, 6, 6);
}

.youtube:hover{
  /* color: C4302B; */
  color: #ff0000;
}

.facebook-f:hover{
  color: rgb(51, 51, 248);
}

.twitter:hover{
  color:rgb(11, 185, 243);
}

.linkedin:hover{
  color: skyblue;
}

.fooeter-form input, button, textarea{
  width: 70%;
  border-radius: 10px;
  height: 40px;
}

.fooeter-form input, textarea{
  background: transparent;
  border: 1px solid gray;
  padding: 5px 5px 5px 20px;
}

.fooeter-form button{
  border: none;
  background: var(--deepGreen);
  padding: 10px;
  color: var(--white);
  height:50px;
}

.fooeter-form textarea{
  height: 100px;
}

.fooeter-form{
  background: var(--white);
  border-radius: 10px;
  width: 100%;
  height: 48vh;
}

.copywrite{
  margin-top: 25px;
}

/* Animations */

@keyframes moveInLeft{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }

  /* 60%{
    transform: rotate(180deg);
  } */

  80%{
    transform: translateX(10px);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight{
  0%{
    opacity: 0;
    transform: translateX(100px);
  }

  80%{
    transform: translateX(-10px);
  }

  100%{
    opacity: 1;
    transform: translate(10px);
  }
}

@keyframes aboutLeft{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }

  /* 60%{
    transform: rotate(180deg);
  } */

  80%{
    transform: translateX(10px);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes aboutRight{
  0%{
    opacity: 0;
    transform: translateX(100px);
  }

  80%{
    transform: translateX(-10px);
  }

  100%{
    opacity: 1;
    transform: translate(10px);
  }
}

@media screen and (max-width: 360px){
  .hamburg{
    display: block;
    cursor: pointer;
  }

  .menu-header{
    background: url("../img/support.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    opacity: 1;
  }

  .menu-header-div{
    background: transparent;
  }

  .div-slide-p{
    color: black;
    font-size: 18px;
    font-family: Proxima Nova Condensed, System-ui, San-serif;
  }

  h6{
    width: 30%;
  }

  #show-row{
    display: none;
  }

  /* footer */
  .copywrite{
    margin-top: 15px;
  }
  /* footer end */
}

@media screen and (max-width: 414px){
  .header-ul-span{
    display: none;
  }

  .menu-header{
    background: url("../img/support.jpg") no-repeat;
    /* background: red; */
    background-position: center;
    background-size: cover;
    height: 100%;
    opacity: 1;
  }

  #hide-row{
    display: flex;
  }

  #show-row{
    display: none;
  }

  #burger{
    display: block;
    float: right;
    margin-right: 20px;
    margin-top: 15px;
  }

  .menu-header-div{
    background: transparent;
    margin-bottom: 20px;
  }

  h6{
    border-radius: 10px;
    padding: 15px;
    text-transform: uppercase;
    background: var(--deepGreen);
    color: var(--white);
    width: 40%;
    /* text-align: center; */
    margin-left: 30%;
    margin-top: 40px;
    cursor: pointer;
  }

  .div-slide-p{
    color: black;
    font-size: 18px;
    font-family: Proxima Nova Condensed, System-ui, San-serif;
  }

  /* service start */
  .main-service-div-two{
    background: var(--white);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px 4px rgb(233, 230, 230);
    margin-left: -70px;
  }

  #div-sample{
    height: 50vh;
  }

  .pod-img{
    width: 20rem;
    height: 30%;
    margin-left: -21px;
    margin-right: -20px;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  #pod-img{
    width: 20rem;
    height: 25%;
    margin-left: -21px;
    margin-right: -20px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  
  #main-service-div-sample{
    height: 32vh;
  }

  #worldwide{
    height: 25rem;
  }
  
  #main-service-div-sample-two{
    height: 40vh;
  }

  #pod-img-two{
    height: 13vh;
  }
  /* service end */

  /* footer */
  .footer-div .main-footer-ul li{
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    list-style: none;
    margin-right: 20px;
  }

  .media-footer-ul{
    margin-right: 30px;
  }

  .media-footer-ul li{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    font-size: 24px;
    font-weight: bold;
    list-style: none;
    /* background: var(--white); */
    border-radius: 50%;
    box-shadow: 2px 2px 2px 3px rgb(207, 202, 202);
  }

  .copywrite{
    margin-top: 15px;
  }
  /* footer end */
}

@media screen and (max-width: 375px){
  .header-ul-span{
    display: none;
  }

  .menu-header{
    background: url("../img/support.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    opacity: 1;
  }

  #burger{
    display: block;
    float: right;
    margin-right: 20px;
    margin-top: 15px;
  }

  #show-row{
    display: none;
  }

  .menu-header-div{
    background: transparent;
    margin-bottom: 20px;
  }

  h6{
    border-radius: 10px;
    padding: 15px;
    text-transform: uppercase;
    background: var(--deepGreen);
    color: var(--white);
    width: 40%;
    /* text-align: center; */
    margin-left: 30%;
    margin-top: 40px;
    cursor: pointer;
  }

  .div-slide-p{
    color: black;
    font-size: 18px;
    font-family: Proxima Nova Condensed, System-ui, San-serif;
  }

  /* service start */
  .main-service-div-two{
    background: var(--white);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px 4px rgb(233, 230, 230);
    margin-left: -70px;
  }

  #div-sample{
    height: 50vh;
  }

  .pod-img{
    width: 17rem;
    height: 30%;
    margin-left: -21px;
    margin-right: -20px;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  #pod-img{
    width: 17rem;
    height: 20%;
    margin-left: -21px;
    margin-right: -20px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  
  #main-service-div-sample{
    height: 50vh;
  }

  #worldwide{
    height: 40rem;
  }
  
  #main-service-div-sample-two{
    height: 48vh;
  }
  /* service end */

  /* footer */
  .footer-div .main-footer-ul li{
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    list-style: none;
    margin-right: 20px;
  }

  .media-footer-ul{
    margin-right: 30px;
  }

  .media-footer-ul li{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    font-size: 24px;
    font-weight: bold;
    list-style: none;
    /* background: var(--white); */
    border-radius: 50%;
    box-shadow: 2px 2px 2px 3px rgb(207, 202, 202);
  }

  .copywrite{
    margin-top: 15px;
  }
  /* footer end */
}